---
import "../style/style.css";

import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import CardLover from "../components/Card-Lover.astro";
import CardPoem from "../components/Card-Poem.astro";
import Countdown from "../components/Countdown.astro";
---

<Layout title="Welcome to Astro.">
  <div class="main-content">
    <h1 class="is-size-1 has-text-centered" style="font-family: Soulmate;">
      Feliz aniversário, Ana!
    </h1>

    <hr />
    <p
      class="is-size-3 has-text-centered"
      style="font-family: IM Fell DW Pica;"
    >
      Feliz aniversário meu amor, eu te amo muito! Fiz essa página para
      comemorar o seu aniversário! 🎉🎉🎉 Possui várias referências do nosso
      relacionamento, poemas, além de outros easter eggs (hihi). Parabéns pelo
      seu aniversário meu amor, que seu dia seja muito feliz! Eu amei os últimos
      6 meses com você, e espero ficar com você por muito mais tempo! ❤️❤️❤️
    </p>
    <Countdown />
    <hr />
    <div class="columns">
      <div class="column">
        <CardLover />
        <Card
          title="Poema 2"
          body="Thank you for being gentle with me. I know life has been cruel to you too, but you still manage to be soft with me. Please never hide yourself whenever you feel sad, and never hide your vulnerability, because I'm always here for you. I love you."
        />
        <div class="card">
          <div class="card-content poema_3">
            <div class="content">
              <p class="has-text-centered">
                Oi amorzinho, eu só queria avisar que eu amo muito vc! eu amo
                muito seu jeitinho viu, vc tem os olhinhos mais lindos do mundo
                todinho, e o cabelinho mais bonito de todos. eu te amo ❤️
              </p>
            </div>
          </div>
        </div>
        <img
          src="pics/sunglasses.jpg"
          alt="Imagem de aniversário"
          style="max-width: 100%;"
        />
        <div class="card">
          <div class="card-content poema_6">
            <div class="content">
              <p class="has-text-centered">
                You make every day brighter and fill my heart with happiness.
                Being with you feels like home, and I'm so grateful for the love
                we share. I can't imagine my life without you, and I will love
                you always, with all my heart
              </p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-content poema_7">
            <div class="content">
              <p class="has-text-centered">
                every time i laugh, i'm thinking of you. every time i see
                something beautiful, i'm thinking of you. every time i stare out
                the window and imagine what my life will be like in the years to
                come, i'm thinking of you. not a moment goes by when you're not
                on my mind, and i wouldn't have it any other way.
              </p>
            </div>
          </div>
        </div>
        <img
          src="pics/sea.jpg"
          alt="Imagem de aniversário"
          style="max-width: 100%;"
        />
      </div>
      <div class="column">
        <img
          src="pics/sitio_october.jpg"
          alt="Imagem de aniversário"
          style=""
        />
        <br />
        <div class="card">
          <div class="card-content joji_1">
            <div class="content">
              <p class="has-text-centered">
                Lost in the blue <br />
                They don't love me like you do <br />
                Those chills that I knew <br />
                They were nothing without you <br />
                And everyone else <br />
                They don't matter now <br />
                You're the one I can't lose <br />
                No one loves me like you do <br />
              </p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-content poema_4">
            <div class="content">
              <p class="has-text-centered">
                I admire you so much for the progress you've been making in your
                life. Even in your toughest moments, you are quietly overcoming
                challenges, and becoming a better version of yourself. I hope
                you take a moment to acknowledge how far you've come and keep
                pushing forward. <b>I am so proud of you.</b>
              </p>
            </div>
          </div>
        </div>
        <img
          src="pics/costao.jpg"
          alt="Imagem de aniversário"
          style="max-width: 100%;"
        />
        <div class="card">
          <div class="card-content poema_8">
            <div class="content">
              <p class="has-text-centered">
                Look, life can be a mess, but when I see you, it all feels...
                better. Like, you're the reason I even bother with half the
                things I do. I don't say this lightly, but you make my world
                make sense.
              </p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-content poema_9">
            <div class="content">
              <p class="has-text-centered">
                Every time you walk into a room, it's like the air gets lighter.
                I find myself wanting to make your life as bright as you make
                mine. Words are overrated anyway, but I hope you feel it in the
                way I look at you.
              </p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-content poema_10">
            <div class="content">
              <p class="has-text-centered">
                Every song I hear somehow reminds me of you, even the ones I
                didn't think I liked. And yet, they all feel perfect now.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="column">
        <Card
          title="Poema"
          body="If I'm scared to lose her? Of course I am. Cuz when we're together, is no longer gravity holding me to earth... It's her. Its cuz when she looks at me, she makes me feel like the most important person in the world. She brings out my inner child, she makes me hopeful, and she makes me feel so understood. And inside out, she's the most beautiful thing I have ever experienced. And without her? I fear I'll lose everything."
        />
        <CardPoem />
        <img
          src="pics/october_1.jpg"
          alt="Imagem de aniversário"
          style="max-width: 100%;"
        />
        <div class="card">
          <div class="card-content poema_5">
            <div class="content">
              <p class="has-text-centered">
                do you know what you have done to me?<br />
                <br />
                you have changed my heart,<br />
                you have touched the center of my soul,<br />
                <br />
                you have drawn me close to you,<br />
                in a way i have never known,<br />
                <br />
                my heart keeps telling me,<br />
                we are meant to be together,<br />
                <br />
                that you are something special<br />
                that you are a precious treasure<br />
                <br />
                so i am going to listen to my heart,<br />
                i will do what it says,<br />
                <br />
                i will stay right here,<br />
                i will walk by your side forever.<br />
              </p>
            </div>
          </div>
        </div>
        <img
          src="pics/november_1.jpg"
          alt="Imagem de aniversário"
          style="max-width: 100%;"
        />
      </div>
    </div>
    <hr />
    <div class="columns has-text-centered">
      <div class="column"></div>
      <div class="column">
        <p>
          Além disso tudo, meu amor, você sabia que você é uma tremenda <span
            class="spank-me">gostosa</span
          >? Hein? Sabia? Não se faça de sonsa hein...
        </p>
        <img
          src="pics/i_know_what_you_are.jpg"
          alt="Imagem de aniversário"
          style="max-width: 100%;"
        />
      </div>

      <div class="column"></div>
    </div>
  </div>
</Layout>

<style>
  .main-content {
  }

  hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid hsl(0, 0%, 100%);
  }

  img {
    max-width: 100%;
    border-radius: 15px;
  }

  .joji_1 {
    border: 1px solid hsl(359, 74%, 59%);
    background-color: hsl(359, 74%, 49%);
    margin: 1rem 0 1rem 0;
    padding: 1rem;
    color: black;
    font-size: 1.2rem;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
  }

  .joji_1:hover {
    transform: scale(1.05);
    box-shadow: 0px 5px 5px rgba(255, 253, 253, 0.5);
  }

  .poema_3 {
    border: 1px solid hsl(221, 94%, 30%);
    background-color: hsl(221, 94%, 20%);
    padding: 1rem;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
  }
  .poema_3:hover {
    transform: scale(1.05);
    box-shadow: 0px 5px 5px rgba(255, 253, 253, 0.5);
  }

  .poema_4 {
    border: 1px solid #ff2400;
    background-color: #800000;
    padding: 1rem;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
  }
  .poema_4:hover {
    transform: scale(1.05);
    box-shadow: 0px 5px 5px rgba(255, 253, 253, 0.5);
  }
  .poema_5 {
    border: 1px solid #c3c4c3;
    background-color: #e5e6e1;
    margin-top: 1rem;
    padding: 1rem;
    color: #050605;
    font-size: 1rem;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
  }
  .poema_5:hover {
    transform: scale(1.05);
    box-shadow: 0px 5px 5px rgba(255, 253, 253, 0.5);
  }
  .poema_6 {
    border: 1px solid #f888c2;
    background-color: #ff82c3;
    padding: 1rem;
    margin-top: 0.8rem;
    color: #050605;
    font-size: 1rem;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
  }
  .poema_6:hover {
    transform: scale(1.05);
    box-shadow: 0px 5px 5px rgba(255, 253, 253, 0.5);
  }
  .poema_7 {
    border: 1px solid hsl(221, 94%, 30%);
    background-color: hsl(221, 94%, 20%);
    padding: 1rem;
    margin-top: 0.8rem;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
  }
  .poema_7:hover {
    transform: scale(1.05);
    box-shadow: 0px 5px 5px rgba(255, 253, 253, 0.5);
  }
  .poema_8 {
    border: 1px solid hsl(221, 94%, 30%);
    background-color: hsl(221, 72%, 13%);
    padding: 1rem;
    margin-top: 0.8rem;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
  }
  .poema_8:hover {
    transform: scale(1.05);
    box-shadow: 0px 5px 5px rgba(255, 253, 253, 0.5);
  }
  .poema_9 {
    border: 1px solid #ff2400;
    background-color: #800000;
    padding: 1rem;
    margin-top: 0.8rem;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
  }
  .poema_9:hover {
    transform: scale(1.05);
    box-shadow: 0px 5px 5px rgba(255, 253, 253, 0.5);
  }
  .poema_10 {
    border: 1px solid #f888c2;
    background-color: #ff82c3;
    padding: 1rem;
    margin-top: 0.8rem;
    color: black;
    font-size: 1rem;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
  }
  .poema_10:hover {
    transform: scale(1.05);
    box-shadow: 0px 5px 5px rgba(255, 253, 253, 0.5);
  }
  .spank-me {
    color: black;
    background-color: black;
    font-weight: 600;
  }
  .spank-me:hover {
    color: white;
  }
</style>
