---

---

<div class="card">
  <div class="card-content">
    <div class="content">
      <p class="has-text-centered">
        The highway is full of big cars going nowhere fast<br />
        And folks is smoking anything that'll burn<br />
        Some people wrap their lives around a cocktail glass<br />
        And you sit wondering where you're going to turn<br />
        I got it<br />
        Come. And be my baby<br />
      </p>
    </div>
  </div>
</div>

<style>
  .card {
    background: #ff82c3;
    border-radius: 8px;
    border: 2px solid #ff82c2;
    color: rgb(26, 26, 26);
    padding: 1rem;
    transition: all 0.3s ease-in-out;
    font-family: "Comic Sans MS";
    font-size: 1.5rem;
    font-weight: 600;
  }
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0px 5px 5px rgba(255, 253, 253, 0.5);
  }
</style>
